@import "tailwindcss";


.galada-regular {
    font-family: "Galada", cursive;
    font-weight: 400;
    font-style: normal;
  }

.font-nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  